body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.white-section {
    background-color: white;
    color: #222;
    padding: 60px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 10px 50px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.search-bar input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 6px 10px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px
}

.search-bar button:hover {
  background-color: #555;
}

nav ul li a {
  display: inline-block;
  background-color: #E1E05B; 
  color: black !important;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

nav ul li a:hover {
  background-color: #949440; 
  transform: scale(1.05);
}

.activities-bar {
  display: flex;
  align-items: center;
  border-bottom: 5px solid #004080;
  padding: 40px 20px 0 20px;
  position: relative;
  justify-content: space-between;
}


.title {
    font-size: 28px;
    margin-right: auto;
    font-weight: bold;
}

.angled-buttons {
    display: flex;
    gap: 20px;
}

.angled-btn {
    background-color: white;
    border: 5px solid black;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    transform: skew(-15deg);
    cursor: pointer;
    transition: 0.2s;
}

.angled-btn:hover {
    background: black;
    color: white
}

.activities-bar button {
  background-color: transparent;
  border: 3px solid #004080; 
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.activities-bar button:hover {
  background-color: #00b3b3;
  color: white;
}

.activities-bar button.active {
  background-color: #007777; 
  border-color: #007777;
  color: white;
}

.activity-content {
    display: none;
    padding: 20px;
    background: white;
    color: black;
    text-align: left;
    margin-top: 0;
    position: relative;
}

.angled-btn {
  border: 2px solid #3399ff;
  color: black;
  background-color: #cce5ff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.angled-btn.active {
  background-color: #0066cc;
  color: white;
}

.grades-section {
  max-width: 950px;
  margin: 40px auto;
  background: #f8fafc;
  border-radius: 16px;
  padding: 30px 50px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.grades-section h3 {
  font-size: 26px;
  color: #004aad;
  text-align: center;
  margin-bottom: 25px;
}

.grade-card p {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  color: #222;
  margin: 10px 0 6px;
}

.bar {
  height: 14px;
  width: 100%;
  background-color: #e4e8ed;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: #007b83;
}

.container {
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding: 40px 60px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #004aad;
}

.tests-box {
  margin: 50px auto 0;
  border: 2px solid #d0d7df;
  border-radius: 16px;
  background: linear-gradient(180deg,#fff,#f8fafc);
  box-shadow: 0 6px 18px rgba(16,24,40,0.06);
  width: 800px;
  padding: 20px 30px;
}

.tests-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e4e8ed;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.tests-header h3 {
  margin: 0;
  color: #004aad;
  font-size: 24px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.btn {
  background: transparent;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #222;
}

.btn.active {
  background-color: #007b83;
  color: white;
  border: none;
}

.test-content {
  display: none;
  position: relative;
  text-align: center;
}

.test-content.active {
  display: block;
}

.test-content img {
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.test-content p {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin: 8px 0;
  width: auto;
  position: static;
}

.academic-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;
}

.academic-wrapper, .extra-wrapper {
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.tests-box {
  flex: 1;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.grades-section, .tests-box {
  min-width: 0;
}

.instruction {
  font-size: 18px;
  color: #ad0000;
  font-weight: 600;
  margin-top: 10px;
}

hr {
  top: -40px;
}

.info-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  max-width: 1400px;
  margin: 60px auto;
}

.info-box {
  background: #f8fafc;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  width: 530px;
}

.info-box:nth-child(1) { grid-column: 1; grid-row: 1; }
.info-box:nth-child(2) { grid-column: 2; grid-row: 1; }
.info-box:nth-child(3) { grid-column: 3; grid-row: 1; }

.info-box img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  margin-top: 15px;
}

.info-box p {
  font-size: 22px;
  color: #222;
  margin-bottom: 15px;
}

.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  width: 100%;
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
}

.prev { left: 10px; }
.next { right: 10px; }

.activity-content {
  width: 100%;
  margin: 60px auto;
  display: none; /* ẩn mặc định */
}

.extracurriculars-wrapper {
  background: #f8fafc;
  padding: 40px;
  margin: 40px auto;
  max-width: 1500px;
}

.activity-content h2 {
  text-align: center;
  color: #004aad;
  font-size: 30px;
  margin-bottom: 30px;
}

.activity-box {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  border-radius: 16px;
  background: #f8fafc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 100px;
  align-items: stretch;
}

.activity-box .left {
  display: flex;
  gap: 20px;
  flex: 0 0 35%;
  align-items: stretch;
  height: 100%;
}

.activity-box .left img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.activity-box .right {
  flex: 1;
  margin-left: 20px;
}

.activity-box .description {
  font-size: 40px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

.inline-fig {
  display: inline-block;
  width: 30%;
  margin: 1%;
  text-align: center;
  vertical-align: top;
}

.inline-fig:nth-child(4),
.inline-fig:nth-child(5),
.inline-fig:nth-child(6) {
  margin-top: 30px; 
}

.inline-fig img {
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.inline-fig figcaption {
  font-size: 30px;
  color: black;
  margin-top: 6px;
  font-weight: bold;
}

.inline-fig:first-child img {
  border: 3px solid #222; 
  border-radius: 8px;
}

#contact {
  text-align: center;
  margin-top: 60px;
}

#contact h2 {
  font-size: 32px;
  color: #004aad;
}

#contact h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
}

#contact a {
  display: inline-block;
  margin: 20px;
  transition: transform 0.3s ease;
}

#contact a:hover {
  transform: scale(1.2);
}

#contact img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

#contact .contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  max-width: 600px;
  margin: 0 auto;
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  background-color: white; 
  color: #333; 
  padding: 12px 16px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  z-index: 1000;
  transition: all 3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#scrollTopBtn:hover {
  background-color: #333;
  color: white;
  transform: translateY(-5px) scale(1.2);  
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
